.cherrySlot {
  @apply flex flex-col justify-center items-center;
  .cherrySlotInterface {
    @apply border-2 rounded-md flex justify-around p-16 max-w-sm;

    span {
      @apply text-7xl border-secondary block border-t-2 border-b-2 py-5 p-1;
      width: 94px;
    }
  }

  .btnCont {
    @apply mt-5;

    button {
      @apply uppercase tracking-wide text-xl text-secondary border-2 border-mainTxtClr p-2 rounded-md;
      transition: .1s linear;

      &:hover {
        @apply text-mainTxtClr border-secondary;
      }
    }
  }
}

@media screen and (max-width: 425px){
  .cherrySlot {
    .cherrySlotInterface {
      span {
        @apply text-5xl;
        width: 70px;
      }
    }
  }
}
